body {
    background-color: rgb(132, 212, 136);
}


/* no hash no dot refers to the tag itself */


/* Tag itself holds importance weighting of 1 */

li {
    color: rgb(201, 91, 91);
}


/* # dedotes ID */


/* ID itself holds importance weighting of 1000 */

#the_first {
    color: blue;
    font-weight: 700;
}


/* . denotes classes */


/* Class itself holds importance weighting of 100 */

.group_1 {
    color: rebeccapurple;
    font-weight: 900;
}

h4 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 8.5s steps(40, end), blink-caret 1.5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}